@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	/* text */
	--colors-text-normal: black;
	--colors-text-subtle: theme("colors.gray.700");
	--colors-text-muted: theme("colors.gray.500");

	/* background */
	--colors-bg-normal: white;
	--colors-bg-accent: theme("colors.gray.100");
	--colors-bg-accent2: theme("colors.gray.300");

	/* success/error */
	--colors-success: theme("colors.green.500");
	--colors-error: theme("colors.red.400");

	/* selection */
	--colors-selection-bg: theme("colors.blue.100");
	--colors-selection-text: var(--colors-text-normal);

	/* scrollbar */
	--colors-scrollbar: theme("colors.gray.300");

	/* progress-bar */
	--colors-navigation-progress: black;

	/* caret */
	--colors-caret: theme("colors.blue.600");

	/* borders */
	--colors-border-normal: #e5e7eb;
	--colors-border-active: black;
	--colors-border-active2: black;

	/* links */
	--colors-link-normal: theme("colors.blue.600");
	--colors-link-secondary: theme("colors.blue.700");

	/* button */
	--colors-btn-normal-bg: black;
	--colors-btn-normal-text: white;

	/* outline */
	--colors-outline: black;

	/* select */
	--colors-select-active: theme("colors.blue.50");

	/* tree */
	--colors-tree-active: theme("colors.sky.100");

	/* badge */
	--colors-badge-normal-bg: theme("colors.blue.100");
	--colors-badge-normal-text: var(--colors-text-subtle);
	--colors-badge-outlined-bg: var(--colors-bg-normal);
	--colors-badge-outlined-text: var(--colors-text-muted);

	/* inline code  */
	--colors-code-normal-bg: theme("colors.blue.100");
	--colors-code-normal-text: var(--colors-text-normal);

	/* heatmap levels */
	--colors-heat-level1: theme("colors.green.300");
	--colors-heat-level2: theme("colors.green.500");
	--colors-heat-level3: theme("colors.green.700");
	--colors-heat-level4: theme("colors.green.900");
}

html.dark {
	/* text */
	--colors-text-normal: theme("colors.gray.200");
	--colors-text-subtle: theme("colors.gray.300");
	--colors-text-muted: theme("colors.stone.400");

	/* background */
	--colors-bg-normal: #181a1b;
	--colors-bg-accent: #25282a;
	--colors-bg-accent2: #2f3335;

	/* success/error */
	--colors-success: theme("colors.green.400");
	--colors-error: theme("colors.red.400");

	/* selection */
	--colors-selection-bg: theme("colors.blue.200");
	--colors-selection-text: var(--colors-bg-accent);

	/* scrollbar */
	--colors-scrollbar: var(--colors-bg-accent);

	/* progress-bar */
	--colors-navigation-progress: var(--colors-text-muted);

	/* caret */
	--colors-caret: theme("colors.blue.300");

	/* borders */
	--colors-border-normal: #363b3d;
	--colors-border-active: theme("colors.gray.400");
	--colors-border-active2: theme("colors.gray.500");

	/* links */
	--colors-link-normal: theme("colors.blue.500");
	--colors-link-secondary: theme("colors.blue.600");

	/* button */
	--colors-btn-normal-bg: var(--colors-bg-accent2);
	--colors-btn-normal-text: white;

	/* outline */
	--colors-outline: theme("colors.blue.500");

	/* select */
	--colors-select-active: var(--colors-bg-accent);

	/* tree */
	--colors-tree-active: var(--colors-bg-accent);

	/* badge */
	--colors-badge-normal-bg: var(--colors-bg-accent);
	--colors-badge-normal-text: var(--colors-text-subtle);
	--colors-badge-outlined-bg: var(--colors-bg-normal);
	--colors-badge-outlined-text: var(--colors-text-subtle);

	/* inline code  */
	--colors-code-normal-bg: theme("colors.blue.200");
	--colors-code-normal-text: var(--colors-bg-accent);

	/* heatmap levels */
	--colors-heat-level1: theme("colors.green.900");
	--colors-heat-level2: theme("colors.green.700");
	--colors-heat-level3: theme("colors.green.500");
	--colors-heat-level4: theme("colors.green.300");
}

html {
	background: var(--colors-bg-normal);
}

body {
	caret-color: var(--colors-caret);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}

html,
body,
#__next {
	/* fallback */
	height: 100vh;
	/* it's recommended to use 'stretch' and use postcss to add vendor prefixes
	 * but '-moz-fill-available' doesn't work on desktop for some reason */
	height: -webkit-fill-available;
}

.full-screen-height {
	/* fallback */
	min-height: 100vh;
	/* it's recommended to use 'stretch' and use postcss to add vendor prefixes
	 * but '-moz-fill-available' doesn't work on desktop for some reason */
	min-height: -webkit-fill-available;
}

* {
	box-sizing: border-box;
}

#nprogress .bar {
	background: var(--colors-navigation-progress);
	height: 3px;
}

#nprogress .spinner,
#nprogress .peg {
	display: none;
}

html {
	scrollbar-gutter: stable;
}

/* firefox scrollbar */
html,
* {
	scrollbar-width: auto;
	scrollbar-color: var(--colors-scrollbar) transparent !important;
}

/* non-firefox scrollbar */
::-webkit-scrollbar {
	overflow: overlay;
	height: 6px;
	width: 8px;
}

::-webkit-scrollbar-track {
	display: initial;
}

::-webkit-scrollbar-thumb {
	background-color: var(--colors-scrollbar);
	border-radius: 9px;
}

@layer utilities {
	.no-highlight {
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	}
}
