@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
	--breakpoint-xs: 30rem;

	--color-link: var(--color-blue-600);
	--color-muted: var(--color-neutral-500);
	--color-subtle: var(--color-neutral-200);

	--color-success: var(--color-green-600);
	--color-error: var(--color-red-500);

	--color-tree-active: var(--color-sky-100);

	--color-border: var(--color-neutral-200);
	--color-border-focus: var(--color-black);

	--animate-toast-appear: toast-appear 0.35s cubic-bezier(0.21, 1.02, 0.73, 1) forwards running;
	--animate-toast-dismiss: toast-dismiss 0.4s cubic-bezier(0.06, 0.71, 0.55, 1) forwards;

	@keyframes toast-appear {
		0% {
			transform: translateY(200%) scale(0.6);
			opacity: 0.5;
		}
	}

	@keyframes toast-dismiss {
		0% {
			transform: translate3d(0, 0, -1px) scale(1);
			opacity: 1;
		}
		100% {
			transform: translate3d(0, 150%, -1px) scale(0.6);
			opacity: 0;
		}
	}
}

:where([data-theme="dark"]) {
	--color-link: var(--color-blue-500);
	--color-muted: var(--color-neutral-400);
	--color-subtle: var(--color-neutral-300);

	--color-success: var(--color-green-400);
	--color-error: var(--color-red-400);

	--color-tree-active: #2f3335;

	--color-border: var(--color-neutral-700);
	--color-border-focus: var(--color-neutral-400);
}

html {
	color-scheme: light;
	scrollbar-gutter: stable;
	touch-action: manipulation;
}

html[data-theme="dark"] {
	color-scheme: dark;
}

html,
body {
	/* fallback */
	height: 100vh;
	height: 100dvh;
	/* it's recommended to use 'stretch' and use postcss to add vendor prefixes
	 * but '-moz-fill-available' doesn't work on desktop for some reason */
	height: -webkit-fill-available;
}

ghloc-island {
	display: contents;
}
